<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Import all effects -->
     <script src="node_modules/jparticles/production/jparticles.all.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" media="screen" />
    <script type="module" src="./src/main.js"></script>
    <!--<script src="element_table.js"></script>-->

</head>
<body>
<div id="gameDiv" style="display:none;">

<!-- Navbar -->
<nav class="navbar navbar-default navbar-inverse">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TraidingBot</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">WHO</a></li>
                <li><a href="#">WHAT</a></li>
                <li><a href="#">Project</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-left">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <order-book-view data-askOrBid="ask" data-count="20" data-pair="XMRBTC"></order-book-view>
            </div>
            <div class="col-sm-4">
                <h3 class="text-center">XMR/BTC</h3>
            </div>
            <div class="col-sm-4">
                <order-book-view data-askOrBid="bid" data-count="20" data-pair="XMRBTC"></order-book-view>
            </div>
        </div>
    </div>

</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
    <h3 class="margin">What We Build?</h3>
    <p>This is a TraidingBot For Crypto-Market Using Gekko.<br> We try to build a clever trading bot wich check multiple Markets and calculate beste desicions.<br>Calculates done by gekko and calculate for multiple market connection done by us.</p>
    <a href="#" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-search"></span> Rroject
    </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
    <h3 class="margin">Project</h3><br>
    <div class="row">
        <h3 class="margin">Who We Are?</h3>
        <img src="images/code-670x335.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
        <h3>We are two Students with passion<br></h3>
    </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p>
</footer>
</body>


</div>

<div id="signDiv">
    Username: <input id="signDiv-username" type="text"></input><br>
    Password: <input id="signDiv-password" type="password"></input>
    <button id="signDiv-signIn">Sign In</button>
    <button id="signDiv-signUp">Sign Up</button>
</div>



<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
    var socket = io();

    //sign
    var signDiv = document.getElementById('signDiv');
    var signDivUsername = document.getElementById('signDiv-username');
    var signDivSignIn = document.getElementById('signDiv-signIn');
    var signDivSignUp = document.getElementById('signDiv-signUp');
    var signDivPassword = document.getElementById('signDiv-password');

    signDivSignIn.onclick = function(){
        socket.emit('signIn',{username:signDivUsername.value,password:signDivPassword.value});
    }
    signDivSignUp.onclick = function(){
        socket.emit('signUp',{username:signDivUsername.value,password:signDivPassword.value});
    }
    socket.on('signInResponse',function(data){
        if(data.success){
            signDiv.style.display = 'none';
            gameDiv.style.display = 'inline-block';
        } else
            alert("Sign in unsuccessul.");
    });
    socket.on('signUpResponse',function(data){
        if(data.success){
            alert("Sign up successul.");
        } else
            alert("Sign up unsuccessul.");
    });
</script>

</html>